body{
    background-color: rgb(255, 255, 255);
    padding:20px;
    margin: 0px;
    font: 1em sans-serif;
    /* box-sizing: border-box; */
}
 .header{
    display: flex;
    /* justify-content: center;
    align-items: ; */
    margin-bottom: 5px;
}
button{
    padding: auto ;
    gap: 30px;
    margin-right:20px ;
    /* color: black; */
    padding: 5px;
    border-radius: 4px;
    border: 2px solid darkmagenta;
    color: darkmagenta;
    background-color: white;
    
}
button:hover{
    background-color: rgb(138, 52, 138);
    color :black;
    transition: 0.5sec;
}

.nav-bar{
            
            margin-left: 90px;
}
.nav-list{
    list-style-type: none;
    display: flex;
    /* padding: 0%; */
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
.nav-list>li{
   margin-right:20px;
}
.nav-list>li>a{
    color: black;
    margin-left: 40px;
    text-decoration: none;
}
.nav-list>li>a:hover{
    color: darkmagenta;
    transition: 0.5sec ;
    text-decoration: underline;
    cursor: pointer;
    
}
.header{
    margin: 0;
    color: darkmagenta;

}
.header>.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.hero-section{
    display: flex;
    justify-content: center;
}
.hero-section>image{
    width: 200px;
    height: 200px;
    
}
.text-container{
   /* border: 2px solid blue; */
   padding-left: 50px;
  justify-items: baseline;
  
}

.text-container>h1{
text-align: center; 
font-size: 40px;
padding: 0;
 max-width: 14ch; 
line-height: 1.2;
 color:darkmagenta;

}

.text-container>p{
  max-width: 50ch; 
  line-height: 1.3;
}


.brand-list{
    padding: 0;
   display: flex;            
  flex-direction: row;                  
  justify-content: center; 
  background-color: darkmagenta; 
  list-style: none;
overflow: hidden;
  
}
.brand-list>ul{
    display: flex;
    margin-right: 20px;
    gap: 150px;
    animation: scroll 10s linear infinite;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20%); /* List jab aadhi (50%) guzar jaye toh reset ho jaye */
  }
}
.search-course{
    display: block;
    justify-items: center;
    margin-right: 10px;
    /* color: darkmagenta; */
}
.search-course>button{
 margin-left: 15px;
}

input{
    border: 2px solid black;
     transition: border-color 0.3s ease;
    outline: none;
    width: 300px;
    padding: 8px;
    border-radius: 5px;
}
.benefit{
display: flex;
gap: 40px;
align-items: center;
}
  

.benefit-image>.hero-blob{
    border-radius: 50%;
    border: 2px solid darkmagenta;
  width: 3vw;
  height: 3vw;
  object-fit: contain;
 
}
.card{
    display: flex;
    gap:20px;
    align-items: center;
}

.card>.benefit-text>h3{
    color: darkmagenta; 
    margin: 0;
}
.card>.benefit-text>p{
    margin: 10px;
}

h2{
    color: darkmagenta;
}

.popular-courses>h2{
display: flex;
justify-content: center;
}
.courses{
    display: flex;
    gap: 40px;
    justify-content: center;
}
.courses>.course-card{
    border: 2px solid blue;
    width: fit-content;
    height: fit-content;
}
